.admin-content-con {
	margin-top: 20px;
	background-color: white;
	border-top: 4px #e7eaec solid;
	padding: 15px;
}

.dashboard-left-cell {
	padding-right: 5px;
}

.dashboard-right-cell {
	padding-left: 5px;
}

.admin-content-con header {
	margin-bottom: 20px;
	border-bottom: 1px #eee solid;
	padding-bottom: 10px;
}

.admin-content-con h5 {
	margin: 0px;
	padding-top: 3px;
}

.text-link {
	color: #676a6c;
}

.text-link:hover {
	color: #676a6c;
}

.commenter-name-dash {
	font-weight: bold;
	font-size: 13px;
}

.comment-head-dash {
	margin-bottom: 6px;
}

.comment-dash {
	margin-bottom: 5px;
}

.comment-date-dash {
	color: #999;
}

#dashboard-con {
	margin-top: 20px;
	padding-bottom :100px;
}

#dashboard-con table th,

#dashboard-con table td {
	font-size: 14px;
}

#dashboard-con .dashboard-content {
	background-color: #fff;
	padding: 15px;
	border-top: 4px solid #eee;
}

#dashboard-con .dashboard-content header {
	border-bottom: 1px solid #e7eaec;
	padding-bottom: 10px;
	margin-bottom: 10px;
}