html,body {
	width: 100%;
	height: 100%;
	background-color: #2f4050;
	padding-top: 70px;
}

.content {
	width: 350px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 0 auto;
}

.content .form-content {
	padding: 20px;
}

.content .form-content h2{
	text-align: center;
	color: #293846;
	font-size: 25px;
	border-bottom: 1px solid #e7eaec;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.logo-bkm{
	width: 200px;
	margin:30px;
}
